.movieCard{
    padding-top: 120;
    margin-top: -50;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 39.91%, #FFFFFF 100%);
}


.fit{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.69) 37.31%, #00000000 100%);
    margin-top: -30;
}

.watchButton {
    background-color: #441a1f;
    border-radius: 20;
    color: white;
    font-weight: bold;
    // border-color: #EA5769;
    margin: 10;
    text-align: left;

}

.seasons{
    background-color: #0e0c0c;
    padding: 20;
    color: white;
    border-radius: 10;
    margin-top: 10;
}

label{
    color:white;
}