<GridLayout rows="auto,*">
    <!-- *ngIf="filteredTvLinks" -->
    <FlexboxLayout [visibility]="filteredTvLinks ? 'visible' : 'collapsed'" alignItems="center" justifyContent="center">
        <SearchBar #SearchBar (textChange)="searchStringChanged($event)" 
        hint="Search all streams" (loaded)="onSearchBarLoaded($event)"
        ></SearchBar>
        
        <Label (tap)="cancelSearchBar()" margin="0 10 0 0"
            color="#444" textAlignment="center"
            padding="0 5"
         width="120" text="cancel"></Label>
    </FlexboxLayout>
    <ActivityIndicator row="1"  borderRadius="50%" backgroundColor="white" 
        *ngIf="!filteredTvLinks" row="2" color="black" [busy]="true">
    </ActivityIndicator>
    <ListView *ngIf="filteredTvLinks" row="1" class="link-container" orientation="horizontal" [items]="filteredTvLinks">
        <ListViewLinearLayout tkListViewLayout></ListViewLinearLayout>
        <ng-template tkListItemTemplate let-i="index" let-item="item">
            <GridLayout class="list-item" (tap)="openPlayer(item.name,item.url)" columns="70,*">
                <Image class="link-image" [stretch]="misc.stretch(item.url)" [src]='item.logo'></Image>
                <StackLayout col="1">
                    <Label class="name" [text]="item.name"></Label>
                    <FlexboxLayout justifyContent="space-between">
                        <Label class="category" [text]="item.category"></Label>
                        <Label class="country" *ngIf="item.country" [text]="item.country.name"></Label>
                    </FlexboxLayout>
                </StackLayout>
            </GridLayout>
        </ng-template>
    </ListView>
</GridLayout>