GridLayout{
    background-color: #491887;
    // padding: 30%;
}
.head{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.support{
    // margin-top: 60%;
    color: white;
    font-size: 20px;
}

.support-body{
    // margin-top: 70%;
    color: rgba(255, 255, 255, 0.473);
    font-size: 20px;
}

.support-body-link{
    // margin-top: 80%;
    color: rgba(255, 255, 255, 0.473);
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;

}

.mybtn{
background-color: #3CE261;
border-radius: 20px;
color: white;
font-weight: bold;
font-size: larger;
// margin: 10px;
}
