<GridLayout rows="*,30,50,50,50,60,100" columns="50,*,50">
    <!-- <Image src="../"></Image> -->



    <Label class="head" text="Get Started" row="1" col="1"></Label>

    <Label
      class="support"
      text="All of your favourite stations and more"
      row="2"
      col="1"
    ></Label>

    <Label
      class="support-body"
      textWrap="true"
      text="From the very best content developers from around the world"
      row="3"
      col="1"
    ></Label>

    <Label
      class="support-body-link"
      textWrap="true"
      text="Try Now for free"
      row="4"
      col="1"
    ></Label>

    <Button text="Get Started" class="btn" row="5" col="1"></Button>
    <!-- <Button class="support-body-link" text="Hello"></Button> -->
  </GridLayout>
