<GridLayout class="root" rows="auto,auto,auto,*,auto">
    <StackLayout height="30">

    </StackLayout>
    <FlexboxLayout alignItems="center" row="1" class="topnavstack">
        <Label class="fas bloated" text="&#xf053;"></Label>
        <Label text="Back"></Label>
    </FlexboxLayout>

    <Label row='2' class="header" text="ALL PLANS"></Label>

    <ScrollView row="3" orientation="horizontal">
        <StackLayout orientation="horizontal" class="plan-box-container">

            <GridLayout class="plan-box violet" rows="auto,*,auto">
                <Label class="small-header" text="Single Plan"></Label>
                <FlexboxLayout class="plan-box__info" row="1">
                    <FlexboxLayout orientation="horizontal">
                        <Label class="fas" text="&#xf00c;"></Label>
                        <Label class="text" text="Includes live content from all around the world"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout orientation="horizontal">
                        <Label class="fas" text="&#xf00c;"></Label>
                        <Label class="text" text="Includes live content from all around the world"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout orientation="horizontal">
                        <Label class="fas" text="&#xf00c;"></Label>
                        <Label class="text" text="Includes live content from all around the world"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout orientation="horizontal">
                        <Label class="fas" text="&#xf00c;"></Label>
                        <Label class="text" text="Includes live content from all around the world"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <Button row="2" text="GHS 200/mo" class="mybtn white"></Button>
            </GridLayout>

            <GridLayout class="plan-box white" rows="auto,*,auto">
                <Label class="small-header" text="Family Plan"></Label>
                <FlexboxLayout class="plan-box__info" row="1">
                    <FlexboxLayout orientation="horizontal">
                        <Label class="fas" text="&#xf00c;"></Label>
                        <Label class="text" text="Includes live content from all around the world"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout orientation="horizontal">
                        <Label class="fas" text="&#xf00c;"></Label>
                        <Label class="text" text="Includes live content from all around the world"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout orientation="horizontal">
                        <Label class="fas" text="&#xf00c;"></Label>
                        <Label class="text" text="Includes live content from all around the world"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout orientation="horizontal">
                        <Label class="fas" text="&#xf00c;"></Label>
                        <Label class="text" text="Includes live content from all around the world"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <Button row="2" text="GHS 300/mo" class="mybtn white"></Button>
            </GridLayout>


        </StackLayout>
    </ScrollView>

    <Button (tap)="try()" row="4" margin="30" text="Try free for 30 days" class="mybtn white"></Button>

</GridLayout>