.heading{
    font-weight: bold;
    font-size: 30;
    margin: 20 0;
    // border-bottom-width: 10%;
}

.sport-item{
    padding: 20;
    background-color: white;
    border-radius: 10;
    margin: 10 0;
}

.sport-item-time{
    color: #00508F;
}

.sport-item-score{
    color: #00508F;
    font-weight: bold;
}

.sport-item-title{
    font-weight: bold;
}


