<ns-action-bar *ngIf="itemName" [showBackButton]="true" [header]="itemName"></ns-action-bar>

<!-- This file has its styling from "upcoming-sports.component.scss" -->
<GridLayout columns="30,*,30" rows="auto,*,auto">
    <Label col="1" [text]="itemName" class="heading"></Label>
    <!-- <GridLayout   backgroundColor="red" > -->
        <Image col="1" row="1"  borderRadius="20" class="link-item" stretch="aspectFill"
        style="background:black;"
        [src]="itemImage">
        </Image>
    <!-- </GridLayout> -->
    <!-- <Gif #block1 width="100%" height="auto" class="run" src="https://static.dribbble.com/users/285475/screenshots/4720919/channel_surfing.gif"></Gif> -->
    <!-- <FlexboxLayout row="1" col="1">
        <Gif
          width="100%"
          height="auto"
          borderRadius="20"
          src="https://cdn.dribbble.com/users/228367/screenshots/4142078/living-room-dribbble.gif"
        ></Gif>
      </FlexboxLayout> -->
    <StackLayout col="1" row="2" class="popup">
        <Label text="Please pick a streaming link" class="heading" textWrap="true" marginBottom="0"></Label>

        <Label text="For an effective streaming experience, SD is recommended"class="support" paddingBottom="10" textWrap="true"></Label>
        <Button (loaded)="miscService.elementLoaded($event)" *ngIf="qualities.hd" (tap)="openHd()" class="primaryButton">
            <FormattedString backgroundColor="transparent">
                <Span text="HD " marginRight="auto"></Span>
                <Span text="High "></Span>
                <Span text="Quality" class="light"></Span>
              </FormattedString>
        </Button>

        <Button (loaded)="miscService.elementLoaded($event)" *ngIf="qualities.sd" (tap)="openSd()" class="secondaryButton">
            <FormattedString backgroundColor="transparent">
                <Span text="SD "></Span>
                <Span text="Standard "></Span>
                <Span text="Definition" class="light"></Span>
            </FormattedString>
        </Button>
        <Button (loaded)="miscService.elementLoaded($event)" fontSize="20" text="All Links" (tap)="showAllLinks()" class="trans blue"></Button>

    </StackLayout>
</GridLayout>
