<FlexboxLayout class="wrapper" alignItems="center" justifyContent="center" flexDirection="column">
    <Label class="sub" text="Pay for your subscription"></Label>
    <StackLayout>
        <Button (tap)="pay()" text="Subscribe" height="50" class="primary"></Button>
        <Button (tap)="closeModal()" text="Close" height="50" class="secondary"></Button>
        <!-- <Button text="Dont have a subscription? Get one now" height="50" color="blue" fontWeight="bold"></Button> -->
    </StackLayout>
</FlexboxLayout>