<GridLayout columns="30,*,50" rows="auto,auto,auto,auto,40,*">
    <StackLayout height="30">

    </StackLayout>
<StackLayout backgroundColor="white" width="100%" row="1" horizontalAlignment="left" col="1">
    <Label text="Welcome to"  color="#491887"></Label>
    <Label class="emphasis" text="XIPTV"></Label>
    <Label text="Please fill in the fields, and get ready to experience a  new viewing experience" textWrap="true" horizontalAlignment="left" width="300" class="support-body"></Label>
</StackLayout>
<StackLayout row="2" col="1">
        <Label class="fas br-icon" fontSize="40" margin="10 0" text="&#xf4fd;"></Label>
         <!-- <Image src="res://Group 19" width="100" horizontalAlignment="left" class="profilePicture"></Image> -->
</StackLayout>
<StackLayout row="3" col="1">
    <TextField hint="Please enter your username" color="#491887" class="text-field">
    </TextField>
    <TextField hint="Please enter your password" color="#491887" class="text-field">
    </TextField>
</StackLayout>
<StackLayout row="5" col="1">
    <Button (tap)="login()" text="LOGIN"  ></Button>
    <Button (tap)="gotoRegister()" class="btn-trans" text="Register Instead" ></Button>
</StackLayout>
</GridLayout>
