<GridLayout columns="*" rows="auto,auto,auto,*">
        
        <StackLayout margin="20">
            <Label text="Welcome to" color="#491887"></Label>
            <Label class="emphasis" text="XIPTV"></Label>
            <Label text="Please fill in the fields, and get ready to experience a  new viewing experience" textWrap="true"
                horizontalAlignment="left" class="support-body"></Label>    
        </StackLayout>

        <Image row="1" src="res://Group 19" width="100" class="profilePicture" height="100" horizontalAlignment="left"></Image>
        
        <StackLayout row="2">
            <TextField hint="Please enter your username" color="#491887" class="text-field">
            </TextField>
            <TextField hint="Enter your password" color="#491887" class="text-field">
            </TextField>
        </StackLayout>
        
        <Stacklayout row="3">
            <Button text="LOGIN" class="btn" verticalAlignment="bottom"></Button>
            <Button text="SIGN UP" class="btn-empty" verticalAlignment="bottom"></Button>    
        </Stacklayout>
</GridLayout>