$cPurple: #491887;

.emphasis{
    font-weight:bold;
    color: $cPurple;
    font-size:40;
}

.support-body{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.521);
    font-size: small;
}

.profilePicture{
    margin-top: 50;
    margin-bottom: 50;
}

.mybtn{
     border-radius: 10;
}

.mybtn-empty{
    color: #3CE261;
    font-weight: bold;
    margin-top: 10;
    margin-bottom: 10;
    font-size: 20;
}

