$cPurple: #491887;

.emphasis{
    font-weight:bold;
    color: $cPurple;
    font-size:40;
}

.support-body{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.521);
    font-size: small;
}

.profilePicture{
    margin-top: 50;
    margin-bottom: 50;
}

TextField{
    border-width: 0 0 2 0;
    border-bottom-color: rgba(0, 0, 0, 0.088);
    margin-top: 50;
    font-size: smaller;
}

.btn{
    background-color: #3CE261;
    border-radius: 20;
    color: white;
    font-weight: bold;
    font-size: larger;
    margin: 100%;
    padding: 20 10;

}

.btn-empty{
    color: #3CE261;
    font-weight: bold;
    margin-top: 10;
    margin-bottom: 10;
    font-size: 20;
}

