<!-- <ScrollView>
  <GridLayout rows="auto,auto,auto,auto,*" columns="30,*,30">
    <StackLayout row="1" col="1">
      <FlexboxLayout margin="5" alignItems="center" justifyContent="space-between">
        <Label class="head" text="Featured Videos"></Label>
        <Label (tap)="viewAll()" text="View All" textAlign="right"></Label>
      </FlexboxLayout>
      <GridLayout columns="auto,auto,auto" rows="*">
          <Image class="cardContent" src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg" col="0" row="0" rowSpan="2" width="40%" borderRadius="10" class="image"></Image>
          <Image class="cardContent" src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg" col="1" row="0" rowSpan="2" width="40%" borderRadius="10" class="image">
          </Image>
          <Image class="cardContent" src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg" col="2" row="0" rowSpan="2" width="40%" borderRadius="10" class="image">
          </Image>
        </GridLayout>
    </StackLayout>

    <StackLayout row="2" col="1">
      <FlexboxLayout margin="5" alignItems="center" justifyContent="space-between">
        <Label class="head" text="Featured Videos"></Label>
        <Label (tap)="viewAll()" text="View All" textAlign="right"></Label>
      </FlexboxLayout>
      <GridLayout columns="auto,auto,auto" rows="*">
          <Image class="cardContent" src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg" col="0" row="0" rowSpan="2" width="40%" borderRadius="10" class="image"></Image>
          <Image class="cardContent" src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg" col="1" row="0" rowSpan="2" width="40%" borderRadius="10" class="image">
          </Image>
          <Image class="cardContent" src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg" col="2" row="0" rowSpan="2" width="40%" borderRadius="10" class="image">
          </Image>
        </GridLayout>
    </StackLayout>

      <StackLayout row="2" col="1">
      <FlexboxLayout margin="5" alignItems="center" justifyContent="space-between">
        <Label class="head" text="Featured Videos"></Label>
        <Label (tap)="viewAll()" text="View All" textAlign="right"></Label>
      </FlexboxLayout>
      <GridLayout columns="auto,auto,auto" rows="*">
          <Image class="cardContent" src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg" col="0" row="0" rowSpan="2" width="40%" borderRadius="10" class="image"></Image>
          <Image class="cardContent" src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg" col="1" row="0" rowSpan="2" width="40%" borderRadius="10" class="image">
          </Image>
          <Image class="cardContent" src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg" col="2" row="0" rowSpan="2" width="40%" borderRadius="10" class="image">
          </Image>
        </GridLayout>
    </StackLayout>
  </GridLayout>
</ScrollView> -->

<ScrollView backgroundColor="#1E1C26">
  <StackLayout>
    <GridLayout columns="10,*" rows="auto,auto,auto,auto">
      <StackLayout col="1" row="0">
        <Label
          fontWeight="bold"
          class="exploreTitle"
          color="white"
          text="Featured Text"
        ></Label>
        <GridLayout columns="auto,auto,auto,auto" rows="*">
          <Image
            src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
            width="100"
            col="0"
            row="0"
            borderRadius="10"
            margin="10"
          ></Image>

          <Image
            src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
            width="100"
            col="1"
            row="0"
            borderRadius="10"
            margin="10"
          ></Image>

          <Image
            src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
            width="100"
            col="2"
            row="0"
            borderRadius="10"
            margin="10"
          ></Image>

          <Image
            src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
            width="100"
            col="3"
            row="0"
            borderRadius="10"
            margin="10"
          ></Image>
        </GridLayout>
      </StackLayout>

      <StackLayout col="1" row="1">
        <Label
          fontWeight="bold"
          class="exploreTitle"
          text="Featured Text"
        ></Label>
        <GridLayout columns="auto,auto,auto,auto" rows="*">
          <Image
            src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
            width="100"
            col="0"
            row="0"
            borderRadius="10"
            margin="10"
          ></Image>

          <Image
            src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
            width="100"
            col="1"
            row="0"
            borderRadius="10"
            margin="10"
          ></Image>

          <Image
            src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
            width="100"
            col="2"
            row="0"
            borderRadius="10"
            margin="10"
          ></Image>

          <Image
            src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
            width="100"
            col="3"
            row="0"
            borderRadius="10"
            margin="10"
          ></Image>
        </GridLayout>
      </StackLayout>

      <StackLayout col="1" row="2">
        <Label
          fontWeight="bold"
          color="white"
          class="exploreTitle"
          text="Featured Text"
        ></Label>
        <GridLayout columns="auto,auto,auto,auto" rows="*">
          <Image
            src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
            width="100"
            col="0"
            row="0"
            borderRadius="10"
            margin="10"
          ></Image>

          <Image
            src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
            width="100"
            col="1"
            row="0"
            borderRadius="10"
            margin="10"
          ></Image>

          <Image
            src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
            width="100"
            col="2"
            row="0"
            borderRadius="10"
            margin="10"
          ></Image>

          <Image
            src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
            width="100"
            col="3"
            row="0"
            borderRadius="10"
            margin="10"
          ></Image>
        </GridLayout>
      </StackLayout>

      <StackLayout col="1" row="3">
        <Label
          fontWeight="bold"
          color="white"
          class="exploreTitle"
          text="Featured Text"
        ></Label>
        <GridLayout columns="auto,auto,auto,auto" rows="*">
          <Image
            src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
            width="100"
            col="0"
            row="0"
            borderRadius="10"
            margin="10"
          ></Image>

          <Image
            src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
            width="100"
            col="1"
            row="0"
            borderRadius="10"
            margin="10"
          ></Image>

          <Image
            src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
            width="100"
            col="2"
            row="0"
            borderRadius="10"
            margin="10"
          ></Image>

          <Image
            src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
            width="100"
            col="3"
            row="0"
            borderRadius="10"
            margin="10"
          ></Image>
        </GridLayout>
      </StackLayout>
    </GridLayout>
  </StackLayout>
</ScrollView>
