.head{
    font-weight: bold;
    font-size: 20;
    color: black;
    text-align: left;
    height: 50;
    // margin-top: 30%;
}

.image{
    // border-radius: 10;
    margin-right: 15;
}

.butn{
    background-color: green;
    color: white;
    border-radius: 20;
    border-color: white;
    text-wrap:false;
}

.support-light{
    color: rgb(158, 158, 158);
    font-weight: bold;
    text-align: center;
    height: 30;
    font-size: 15;
}

.space{
    // padding: ÷;
}

.newSection{
    margin-top: 10%;
}
