<GridLayout rows="150,*,auto,100" columns="50,*">

  <StackLayout orientation="horizontal" margin="20" colSpan="2">
    <Image height="120" src="res://getstart"></Image>
  </StackLayout>

  <FlexboxLayout row="1" colSpan="2" justifyContent='center'>
    <Label fontSize="50" color="white" class="fas" text="&#xf042;"></Label>
  </FlexboxLayout>

  <StackLayout row="2" colSpan="2" 
  margin="20"
  verticalAlignment="center" 
  horizontalAlignment="center">
    <Label class="head" text="Get Started"></Label>

    <Label class="support" text="All of your favourite stations and more"></Label>

    <Label class="support-body" textWrap="true"
      text="From the very best content developers from around the world"></Label>

    <Label class="support-body-link" textWrap="true" text="Try Now for free"></Label>
  </StackLayout>

  <StackLayout row="3" colSpan="2" padding="20">
    <Button height="50" text="Get Started" class="btn"></Button>
  </StackLayout>
  <!-- <Button class="support-body-link" text="Hello"></Button> -->
</GridLayout>