<ActionBar title="Live Sports Events">
    <NavigationButton [visibility]="'collapsed'"></NavigationButton>
    <NavigationButton *ngIf="isAndroid" icon="~/img/back.png" (tap)="back()"></NavigationButton>
    <ActionItem *ngIf="isIos" ios.position="left" (tap)="back()">
        <Label text="&#xf104;" margin="10" fontSize="25" class="fas"></Label>
    </ActionItem>
</ActionBar> 
<GridLayout rows="auto,*">
    
    <WebView rowSpan="2" #WebViewRef (loadFinished)="webViewLoaded($event)" (loadStarted)="webViewLoading($event)" [src]="websrc">

    </WebView>
    <StackLayout *ngIf="!isWebViewShown" backgroundColor="white" rowSpan="2">

    </StackLayout>
    <!-- <FlexboxLayout *ngIf="canGoBack" (tap)="back()" alignItems="center" class="topnavstack">
        <Label class="fas bloated" text="&#xf053;"></Label>
        <Label text="Previous Page"></Label>
    </FlexboxLayout> -->
    <GridLayout rowSpan="2" *ngIf="isLoading">
        <ActivityIndicator color="black" busy="true" class="activity-indicator">
        </ActivityIndicator>
    </GridLayout>
</GridLayout>