.btn{
    background-color: white;
    margin: 10 0;
    border-radius: 15;
    padding: 20;
    text-align: left;
    color: #491887;
}

.btn-sign{
    background-color: #491887;
    // margin: 10 0;
    border-radius: 15;
    padding: 20 ;
    text-align: center;
    color: white;
    font-weight: bold;
}

.info{
    padding: 3 0;
    color: #491887;
    font-size:20;
}

.info-support{
    // padding: 3 0;
    color: #757575f1;
    font-size: 13
}

.profilePicture{
    margin: 20 0;
}
