<GridLayout rows="auto,*,auto" columns="*"  backgroundColor="#EEEFF3">
  <StackLayout row="0" col="1">
    <GridLayout
      rows="auto"
      columns="100,*"
      backgroundColor="white">
        <Image
        src="https://static.wixstatic.com/media/ab5875_79f048871d6e42678449b35eed1e0a69~mv2.png"
        row="0"
        col="0"
        margin="20"
        padding-left="10"
        horizontalAlignment="left"
        backgroundColor="#EA5769"
        borderRadius="50%"
        ></Image>
            <StackLayout width="90%" row="0" col="1" margin="20">
                <Label class="info" fontWeight="bold" text="Nana Kweku Adumatta"></Label>
                <Label class="info-support" text="Date Joined: 20/01/2019"></Label>
            </StackLayout>
    </GridLayout>
  </StackLayout>

  <Image src="https://assets10.lottiefiles.com/packages/lf20_ctopYC.json"></Image>
    <Label borderRadius="20" margin="30 0" class="card" row="1" col="0" backgroundColor="red" width="90%"></Label>
    <!-- <Lottie:LottieView  margin="30 0" class="card" row="1" col="0" src="https://assets10.lottiefiles.com/packages/lf20_ctopYC.json" loop="true" autoPlay="true" loaded="lottieLoaded" /> -->
    <StackLayout row="1" col="0" >
        <!-- <LottieView height="130" src="9825-loading-screen-loader-spinning-circle.json" :loop="true" :autoPlay="true" ></LottieView> -->
    </StackLayout>
  <StackLayout row="2" col="1">
    <Button
    (tap)="viewSubscriptions()"
    text="Subscriptions"
    class="primaryButton"
  ></Button>
    <Button
      (tap)="logout()"
      class="secondaryButton"
      width="90%"
      text="Sign Out"
    ></Button>
  </StackLayout>
</GridLayout>
