@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/default.css";

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

/*
The following CSS rule changes the font size of all Buttons that have the
"-primary" class modifier.
*/
.ns-root {
    --border-color: #b6b6b6;

    --light-black-text: #353434;

    --grey-background: #e5e5e5;

    --violet: #491887;
}
.br-icon{
    color:var(--violet);
}
$primary-color: rgb(70, 70, 189);
Button.-primary {
    font-size: 18;
}

.mybtn {
    background-color: #3ce261;
    border-radius: 20;
    color: white;
    font-weight: bold;
    font-size: larger;
    height: 50;
    margin: 10;
}

.bg-trans{
    background-color: transparent;
}

.group-label {
    text-transform: uppercase;
    margin: 20 20;
    font-size: 15;
    color: #4b71db;
    font-weight: bold;
    padding: 10;
    border-bottom-width: 1;
    border-color:#4b71db;
}

.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
    font-weight: 400;
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
    font-weight: 900;
}

.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
    font-weight: 400;
}

// Common page class
.page__content {
    &-icon,
    &-placeholder {
        color: const(grey);
        font-size: 20;
        vertical-align: center;
        horizontal-align: center;
    }

    &-icon {
        font-size: 72;
        vertical-align: top;
        margin-top: 20%;
    }
}

// Drawer navigation custom styles
.nt-drawer__header-image {
    color: #808080;
}

.action-btn {
    padding: 10 60;
    margin: 10;
    background-color: $primary-color;
    border-radius: 50%;
    color: white;
}

.header {
    font-size: 30%;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.sub-header {
    font-size: 20;
    text-transform: uppercase;
    color: orangered;
    text-align: center;
}

.sub-sub-header {
    font-size: 15;
    text-transform: uppercase;
    color: orangered;
    text-align: center;
}

.flag {
    text-align: center;
    border-width: 1;
    border-color: black;
    padding: 10 40;
    background-color: white;
    margin: 10;
}

$cPurple: #491887;

.primary{
    background-color: white;
    border-radius: 10;
    padding: 10;
    width: 80%;
    color: blue;
    // border: 1px solid purple;
    font-weight: bold;
    border-color: blue;
}

.trans{
    background-color: transparent;
    border-radius: 10;
    padding: 10;
    width: 80%;
    &.blue{
        color: blue;
    }
    // border: 1px solid purple;
    font-weight: bold;
    border-color: transparent;
}

.secondary{
    background-color: blue;
    border-radius: 10;
    padding: 10;
    width: 80%;
    color: white;
    font-weight: bold;
}
Button{
    margin: 10 0;
    padding: 20;
    z-index:0;
    border-width: 1;
}

TextField{
    border-width: 1;
    border-color: rgba(0, 0, 0, 0.4);
    margin: 15;
    font-size: smaller;
    padding: 10 15;
    border-radius: 6;
}

ActivityIndicator{
    width: 40;
    height: 40;
    background-color: rgba(0, 0, 0, 0.42);
    border-radius: 50%;
    color:white;
}

ListView{
    seperator-color:#b1b1b1;
}

Label{
    //text-wrap:true;
}

.list-item{
    // border-bottom-width: 1;
    // border-color: #808080;
    padding: 10;
    .link-image{
         border-radius: 20;
         height: 90;
        // height: 80;
    }
    StackLayout{
        padding:10;
        FlexboxLayout{
            margin:5;
        }
        .name{
            font-size: 17;
            margin:5;
        }
        .category{
            color:#808080;
            font-size: 15;
        }
        .country{
            color: green;
        }
    }
}

.roller-bg{
    background-color: rgba(0, 0, 0, 0.4);
}

.topnavstack{
    color:var(--light-black-text);
    .bloated{
        padding: 10 12;
        border-width: 1;
        border-radius: 5;
        margin: 10;
        border-color: var(--border-color);
        background-color: white;
    }
}
