/* Add mobile styles for the component here.  */
.root {
    --myblack: rgb(31, 31, 31);
    --primary-color: rgb(70, 70, 189);
}
.navbar {
    background-color: #333041;
    align-items: center;
    // display: flex;
    // justify-content: left;
    .brand {
        justify-content: left;
        text-align: left;
        margin-left: 0;

    }
    .navicon {
        margin: 10;
        font-size: 20;
        color: white;
        &.active {
            color: var(--primary-color);
            transform: scale(1.2);
        }
    }
}

.footer-nav {
    background-color: #333041;
    justify-content: space-between;
}

.error-page {
    color: white;
    font-size: 20%;
    font-weight: bold;
    StackLayout {
        horizontal-alignment: center;
        text-align: center;
    }
}

.nav-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 15 0;
    color: var(white);
    transition: transform 0.2s ease-in-out;
    &.active {
        color: var(#333041);
        transform: scale(1.2);
        .icon {
        }
        .text {
        }
    }
    .icon {
        font-size: 15%;
        margin-bottom: 5;
    }
    .text {
        font-size: 10%;
    }
}

.arrow {
    padding: 10;
    font-size: 15;
    border-radius: 3;
    margin: 5;
    color: var(--myblack);
}
