

    <GridLayout rows="auto,60,*,auto" class="root" >
            <StackLayout height="35" *ngIf='isAndroid'></StackLayout>
        
            <Flexboxlayout row="1" justifyContent="space-between" class="navbar">
                <FlexboxLayout (tap)="switchSubscription()" alignItems="center">
                    <Label class="fas arrow"
                        text="&#xf362;"></Label>
                    
                    <Label *ngIf="currentSubscription" [text]="packageType[currentSubscription.package.packageType]"></Label>
                </FlexboxLayout>
                <Image class="brand" src=""></Image>
                <Label [ngClass]="{active:route == 'profile'}" (tap)="gotoProfile()" class="fas navicon"
                    text="&#xf007;"></Label>
            </Flexboxlayout>
        
            <FlexboxLayout row="2">
                <router-outlet></router-outlet>
            </FlexboxLayout>
            
        
            <FlexboxLayout row="3" class="footer-nav">
                 <!-- <FlexboxLayout [ngClass]="{active:isComponentSelected('landing')}" (tap)="navigate('landing')" class="nav-box">
                    <Label class="fas icon" text="&#xf0ac;"></Label>
                    <Label class="text" text="Home"></Label>
                </FlexboxLayout>
                 <FlexboxLayout [ngClass]="{active:isComponentSelected('search')}" (tap)="navigate('search')" class="nav-box">
                    <Label class="fas icon" text="&#xf002;"></Label>
                    <Label class="text" text="Search"></Label>
                </FlexboxLayout>
                 <FlexboxLayout [ngClass]="{active:isComponentSelected('explore')}" (tap)="navigate('explore')" class="nav-box">
                    <Label class="fas icon" text="&#xf0ac;"></Label>
                    <Label class="text" text="Explore"></Label>
                </FlexboxLayout>
                 <FlexboxLayout [ngClass]="{active:isComponentSelected('categories')}" (tap)="navigate('categories')" class="nav-box">
                    <Label class="fas icon" text="&#xf03a;"></Label>
                    <Label class="text" text="Categories"></Label>
                </FlexboxLayout> -->
                
                <Button class="nav-box" [ngClass]="{active:isComponentSelected('landing')}" (tap)="navigate('landing')"
                 backgroundColor="white" text="text button">
                    <FormattedString backgroundColor="transparent">
                        <!-- <FlexboxLayout > -->
                            <Span class="fas icon" text="&#xf015;"></Span>
                            <!-- <Label class="text" text="Home"></Label> -->
                        <!-- </FlexboxLayout> -->
                    </FormattedString>
                </Button>
                <Button class="nav-box" [ngClass]="{active:isComponentSelected('search')}" (tap)="navigate('search')"
                backgroundColor="white" text="text button">
                    <FormattedString backgroundColor="transparent">
                        <!-- <FlexboxLayout > -->
                            <Span class="fas icon" text="&#xf002;"></Span>
                            <!-- <Label class="text" text="Home"></Label> -->
                        <!-- </FlexboxLayout> -->
                    </FormattedString>
                </Button>
                <Button class="nav-box" [ngClass]="{active:isComponentSelected('explore')}" (tap)="navigate('explore')"
                backgroundColor="white" text="text button">
                    <FormattedString backgroundColor="transparent">
                        <!-- <FlexboxLayout > -->
                            <Span class="fas icon" text="&#xf0ac;"></Span>
                            <!-- <Label class="text" text="Home"></Label> -->
                        <!-- </FlexboxLayout> -->
                    </FormattedString>
                </Button>
                <Button class="nav-box" [ngClass]="{active:isComponentSelected('categories')}" (tap)="navigate('categories')"
                 backgroundColor="white" text="text button">
                   <FormattedString backgroundColor="transparent">
                       <!-- <FlexboxLayout > -->
                           <Span class="fas icon" text="&#xf03a;"></Span>
                           <!-- <Label class="text" text="Home"></Label> -->
                       <!-- </FlexboxLayout> -->
                   </FormattedString>
               </Button>
            </FlexboxLayout>
    </GridLayout>
