<GridLayout columns="*" rows="auto,*,auto">
    <StackLayout backgroundColor="white" width="80%">
        <Label text="Welcome to" height="50" color="#491887"></Label>
        <Label class="emphasis" text="XIPTV"></Label>
        <Label text="Please fill in the fields, and get ready to experience a  new viewing experience" textWrap="true" horizontalAlignment="left" width="300" class="support-body"></Label>
        <Label text="Image" horizontalAlignment="left" width="100" height="100" backgroundColor="#491887" borderRadius="50px" class="profilePicture"></Label>
        <TextField hint="Please enter your username" color="#491887" class="text-field">
        </TextField>
        <TextField hint="Enter your password" color="#491887" class="text-field">
        </TextField>
        <TextField hint="Please reenter your password" color="#491887" class="text-field">
        </TextField>
        <Button text="LOGIN" class="btn" verticalAlignment="bottom" ></Button>
        <Button text="SIGN UP" class="btn-empty" verticalAlignment="bottom" ></Button>
    </StackLayout>
    </GridLayout>
