<GridLayout columns="50,*,50" rows="auto,auto,auto,*,auto,auto,*">
    <StackLayout height="30">

    </StackLayout>
    <StackLayout backgroundColor="white" width="100%" row="1" horizontalAlignment="left" col="1">
        <Label text="Welcome to" color="#491887"></Label>
        <Label class="emphasis" text="XIPTV"></Label>
        <Label text="Please fill in the fields, and get ready to experience a  new viewing experience" textWrap="true" horizontalAlignment="left" width="300" class="support-body"></Label>
    </StackLayout>
    <StackLayout row="2" col="1">
        <Label class="fas br-icon" fontSize="40" margin="10 0" text="&#xf502;"></Label>
             <!-- <Image src="res://Group 19" width="100" horizontalAlignment="left" class="profilePicture"></Image> -->
    </StackLayout>
    <StackLayout row="4" col="1">
        <TextField [(ngModel)]="username" hint="Please enter your username" color="#491887" class="text-field">
        </TextField>
        <TextField [(ngModel)]="email" hint="Please enter your Email" color="#491887" class="text-field">
        </TextField>
        <TextField secure="true" [(ngModel)]="password" hint="Please enter your password" color="#491887" class="text-field">
        </TextField>
    </StackLayout>
    <StackLayout margin="20" horizontalAlignment="center" row="5" col="1">
        <Button  (tap)="register()" text="SIGN UP" ></Button>
        <Button (tap)="gotoLogin()" class="bg-trans" text="Login Instead"></Button>
    </StackLayout>
    </GridLayout>
