<GridLayout columns="30,*,50" rows="auto,auto,auto,*,auto">
    <StackLayout backgroundColor="white" width="100%" row="0" horizontalAlignment="left" col="1">
        <Label text="Welcome to Register" height="50" color="#491887"></Label>
        <Label class="emphasis" text="XIPTV"></Label>
        <Label text="Please fill in the fields, and get ready to experience a  new viewing experience" textWrap="true" horizontalAlignment="left" width="300" class="support-body"></Label>
    </StackLayout>
    <StackLayout row="1" col="1">
             <Image src="res://Group 19" width="100" horizontalAlignment="left" class="profilePicture"></Image>
    </StackLayout>
    <StackLayout row="2" col="1">
        <TextField hint="Please enter your username" color="#491887" class="text-field">
        </TextField>
        <TextField hint="Please enter your password" color="#491887" class="text-field">
        </TextField>
        <TextField hint="Please reenter your password" color="#491887" class="text-field">
        </TextField>
    </StackLayout>
    <StackLayout row="4" col="1">
        <Button text="LOGIN" class="btn" verticalAlignment="bottom" ></Button>
        <Button text="SIGN UP" class="btn-empty" verticalAlignment="bottom" ></Button>
    </StackLayout>
    </GridLayout>
