<GridLayout rows="auto,*">
    <SearchBar (textChange)="searchStringChanged($event)" hint="Search categories">
    </SearchBar>
    <ActivityIndicator row="1" borderRadius="50%" backgroundColor="white" *ngIf="!filteredTvGroups" row="2" color="black"
        width="100" height="100" [busy]="true">
    </ActivityIndicator>
    <ListView row="1" class="link-container" orientation="horizontal" [items]="filteredTvGroups">
        <ListViewLinearLayout tkListViewLayout></ListViewLinearLayout>
        <ng-template tkListItemTemplate let-i="index" let-i="index" let-item="item">
            <GridLayout class="list-item" (tap)="showDialog(item)" columns="70,*">
                <FlexboxLayout [backgroundColor]="bgColors[i]" height="70" width="70" class="link-image auto-image">
                    <Label *ngIf="item" [text]="item.substring(0,1)"></Label>
                </FlexboxLayout>
                <StackLayout col="1">
                    <Label class="name" [text]="item"></Label>
                </StackLayout>
            </GridLayout>
        </ng-template>
    </ListView>
</GridLayout>