<GridLayout columns="*,*" rows="auto,*">

    <StackLayout col="0"colSpan="2" backgroundColor="#0E40BF">
        <TextField class="tvTextField" hint="Categories"
               secure="false"
               keyboardType="datetime"
               autocorrect="false"
               maxLength="10">
        </TextField>

    </StackLayout>

    <!-- Recursive Search Item -->
        <StackLayout col="0" row="1" backgroundColor="#0E40BF">

    <FlexboxLayout class="search">
        <Image class="resultsImage" src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY268_CR3,0,182,268_AL_.jpg"></Image>
        <StackLayout class="searchItem">
            <Label text="The God Father"></Label>
            <Label class="mid-bold" text="Georgia"></Label>
        </StackLayout>
    </FlexboxLayout>




    </StackLayout>
    <!-- End of Recursive Search Item -->

    <!-- Recursive Search Item -->
    <StackLayout col="1" row="1" >

        <FlexboxLayout class="search">
            <Image class="resultsImage" src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY268_CR3,0,182,268_AL_.jpg"></Image>
            <StackLayout class="searchItem">
                <Label text="The God Father"></Label>
                <Label class="mid-bold" text="Georgia"></Label>
            </StackLayout>
        </FlexboxLayout>

        <FlexboxLayout class="search">
            <Image class="resultsImage" src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY268_CR3,0,182,268_AL_.jpg"></Image>
            <StackLayout class="searchItem">
                <Label text="The God Father"></Label>
                <Label class="mid-bold" text="Georgia"></Label>
            </StackLayout>
        </FlexboxLayout>

        <FlexboxLayout class="search">
            <Image class="resultsImage" src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY268_CR3,0,182,268_AL_.jpg"></Image>
            <StackLayout class="searchItem">
                <Label text="The God Father"></Label>
                <Label class="mid-bold" text="Georgia"></Label>
            </StackLayout>
        </FlexboxLayout>

        <FlexboxLayout class="search">
            <Image class="resultsImage" src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY268_CR3,0,182,268_AL_.jpg"></Image>
            <StackLayout class="searchItem">
                <Label text="The God Father"></Label>
                <Label class="mid-bold" text="Georgia"></Label>
            </StackLayout>
        </FlexboxLayout>


    </StackLayout>
    <!-- End of Recursive Search Item -->

    <FlexboxLayout col="2">
    <!-- <Image src="https://image.shutterstock.com/image-vector/tv-television-channel-icon-logo-260nw-1699488001.jpg"></Image> -->
    </FlexboxLayout>
    </GridLayout>
